<% content_for :title do %>About<% end %>
<div class="large-6 large-centered columns">
    <div large-centered><br><br><%= image_tag "team.png" %>
    <p><h5>Trabalho INF221 - Eng. de Software</h5>
<p>
Trabalho desenvolvido com
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
de <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
</div>
</div>
