<% content_for :title do %>Sobre<% end %>
<div class="large-6 large-centered columns">
    <div large-centered><br><br><%= image_tag "team.png" %>
    <div class="large-5 medium-12 small-5 large-centered columns">
        <p>
            <h5>Trabalho INF221 - Eng. de Software</h5>
            <h6>Desenvolvido com ♥ e Ruby on
        <%= link_to 'Rails', 'http://rubyonrails.org/', color: "#ffff" %></h6>
        </p>
    </div>
</div>
</div>
