<% content_for :title do %>Agendar horário<% end %>
<%= simple_form_for @book, url: employee_books_path do |f| %>
<div class="large-5 large-centered columns">
  <%= "Digite o horário desejado" %>
  <%= f.input :hour, placeholder: 'Digite'%>
  <%= f.button :submit, class: "button expand" %>
</div>
<% end %>
