<div class="row">
  <% @books.each do |book| %>
    <%= book.hour.to_formatted_s(:short) %> <%= book.employee.name %> <br>
    <%= link_to "Agendar", edit_student_book_path(book) %>
  <% end %>
</div>
