<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
    <% if employee_signed_in? %>
      <li class="name"><%= link_to 'Deslogar', destroy_employee_session_path, method: :delete %></li>
    <% end %>

    <% if student_signed_in? %>
      <li class="name"><%= link_to 'Deslogar', destroy_employee_session_path, method: :delete %></li>
    <% end %>
  </div>
</nav>
